<div class="grid">
    <div class="col-12">
        <div class="flex justify-content-center align-content-center text-align-center">
            <!-- Login -->
            <form>
                <p-card *ngIf="loginCard" styleClass="mt-10" header="Login" subheader="Faça login com sua conta existente!">

                  <div class="flex justify-content-center align-content-center text-align-center">
                    <input type="email" pInputText placeholder="Email" />
                  </div>

                  <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="password" pInputText placeholder="Senha" />
                  </div>

                  <div class="card flex justify-content-center mt-3">
                    <button type="submit" pButton pRipple label="Login"></button>
                  </div>

                  <span (click)="loginCard = !loginCard" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;">
                    Criar Conta
                  </span>
                </p-card>
            </form>


            <!-- SIGNUP -->

            <form>
              <p-card *ngIf="!loginCard" styleClass="mt-10" header="Criar Conta" subheader="Crie já sua conta gratuida.">

                <div class="flex justify-content-center align-content-center text-align-center">
                  <input type="text" pInputText placeholder="Nome" />
                </div>

                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                  <input type="email" pInputText placeholder="Email" />
                </div>

                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                  <input type="password" pInputText placeholder="Senha" />
                </div>

                <div class="card flex justify-content-center mt-3">
                  <button type="submit" pButton pRipple label="Criar conta"></button>
                </div>

                <span (click)="loginCard = !loginCard" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;">
                  Fazer login
                </span>
              </p-card>
          </form>
        </div>
    </div>
</div>
