<p-toolbar styleClass="bg-indigo-800">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-home"
      label="Dashboard"
      routerLink="/dashboard"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      />
  </div>

  <div class="p-toolbar-group-center">
    <p-button
      label="Produtos"
      icon="pi pi-shopping-cart"
      routerLink="/products"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
      />

      <p-button
        label="Categorias"
        icon="pi pi-ticket"
        routerLink="/categories"
        styleClass="bg-indigo-800 p-button-secondary"
        routerLinkActive="exact_route"
        class="mr-2"
      />

      <p-button
        label="Efetuar venda"
        icon="pi pi-credit-card"
        routerLink="/products"
        styleClass="bg-indigo-800 p-button-secondary"
        routerLinkActive="exact_route"
        class="mr-2"
      />
  </div>
</p-toolbar>
